@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap');
html{
    direction: rtl;
    margin:0;
    padding: 0;
}
body{
    
    direction: rtl;  
    font-family:"tajawal",sans-serif;
    text-align: right;
   
}
/* اكواد صفحات تسجيل الدخول  */

.login-section{
    height: 625px;
    background-color: rgb(245, 241, 250);
}
.login-title{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.register-title{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    
}
.contentt{
    display: block;
    background-color: rgb(197, 238, 181);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    box-shadow: 1px 1px 3px 2px;
}
/* .t{
    padding: 10px;
    margin-top: 25px;
} */
.register-content{
    width: 55%;
    padding: 10px;
    margin-top: 25px;
}
.login-content{
    width: 600px;
    height: 350px;
}
.reset-content{  
    width: 620px;
    height: 370px;
    
}
.button-giris{
    margin-top: 8px;
    width: 25%;
  }
  
@media screen and (max-width:768px) {
    .contentt{
        width: 80%;
        height: 80%;
        padding: 10px;
        box-shadow: 1px 1px 3px 2px;

    }
    .titlee{
        text-align: center;
        padding: 10px;
        font-size: 23px;
    }
    .register-content{
        height: 105%;
        width: 90%;
        padding: 10px;
        margin-top: 70px;
        
    }
    .register-title{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        
    }
    .button-giris{
        margin-top: 8px;
        width: 40%;
      }
      
}


.style-label{
    font-weight:500;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
    color: rgb(8, 184, 60);
}

.text-field{
    width: 85%;
}

/* اكواد الصفحة الرئيسية للموقع */
.section{
    padding: 40px 0;
}
.navbar{
   box-shadow: 1px 2px 5px #dacfcf;
   
}
.section-title{
   padding-top: 20px;
   position: relative;
   display: inline-block;
}
.section-title::after{
   content: "";
   display: block;
   width: 70%;
   height: 5px;
   position: absolute;
   bottom: -10px;
   background-color: #0eb308;
}
.link{
   color: chartreuse;
}

.about-item p{
   padding: 25px 0;
   font-size: 20px;
}

li a.active1:after , li a:after{
   content:"";
   display: block;
   height: 3px;
   background-color: rgb(5, 177, 48);
   transition: width 0.5s;
}
li a.active1:after{
   width:100%;
}
li a:after{    
   width:0;
   height: 3px;
 
}
li a:hover:after{
   width:100%;
}
/* .about ,.connect{
   height: 520px;
} */
.btn1{
   width: 30%;
}
.mar{
   margin: 0px 10px;
}
.home{
   height: 620px;
   background-size: cover;
   background-color: aliceblue;
   padding: 1px;
}
.home-item{
   width: 65%;
   margin:auto;
   text-align: center;
   margin-top: 15%;
}
.home-item h2{
   color: rgb(35, 177, 7);
   font-size: 40px; 
}
.home-item p{
   color: rgb(12, 11, 11);
   font-size: 20px;
}
/* .about{
   background-color: slateblue;
} */
@media (max-width: 768px){
   .home{
       height: 500px;
   }
   .home-item{
       width: 100%;
   }
   .about-img img{
         height: 250px;
   }
   
}
.connect{
   background-color: rgb(250, 239, 237);
}

.input-style{

  background-color: sandybrown;
  
}
.section-connect{
   width: 100%;
   height: 100%;
   background-color: rgb(238, 238, 247);
}
.section-about{
   width: 100%px;
   height: 600px;
  
}
.input-connect{
   display: block;
   width: 450px;

}

